h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h4 {
    color: green;
    text-align: center;
}
body {
    margin: 10px;
    padding: 30px;
}
p{
    padding: 0px;
    margin: 2px;
}
div{
    padding: 0px;
    margin: 2px;
}